<% content_for :title, "My Videos" %>
<% content_for :body_id, "page-name" %>

<% content_for :header do %>
  <%= link_to '<strong class="icon-home"></strong>Home'.html_safe, home_athlete_path, class: "btn btn-success fr" %>
<% end %>

<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid page-header">
      <div class="span8">
        <h1>My Videos</h1>
        <%= link_to 'Create new video', new_athlete_video_path %>
      </div>
      <div class="span4">
        <label class="label-special">Find a New Coach </label>
        <input type="text" class="input-block-level">
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="row-fluid">
          <div class="span9">
            <div class="caption">
              <h3>Coaches Feedback</h3>
              <p> Lorem ipsum dolor sit amet, con sectetuer adipiscing elit.
              Mauris fermentum dictum magna. Sed laoreet aliquam leo.
              Ut tellus dolor, elit. Aenean auctor wisi et urna.
              Aliquam erat volutpat. Duis ac turpis.</p>
              <p> Lorem ipsum dolor sit amet, con sectetuer adipiscing elit.
              Mauris fermentum dictum magna. Sed laoreet aliquam leo.
              Ut tellus dolor, elit. Aenean auctor wisi et urna.
              Aliquam erat volutpat. Duis ac turpis.</p>
              <p> Lorem ipsum dolor sit amet, con sectetuer adipiscing elit.
              Mauris fermentum dictum magna. Sed laoreet aliquam leo.
              Ut tellus dolor, elit. Aenean auctor wisi et urna.
              Aliquam erat volutpat. Duis ac turpis.</p>
            </div>
          </div>
          <div class="span3">
            <div class="thumbnail">
              <img src="/assets/video-4.png" alt="Coach">
            </div>
          </div>
        </div>
        <hr >
        <div class="row-fluid">
          <div class="span9">
            <div class="caption">
              <h3>Coaches Feedback</h3>
              <p> Lorem ipsum dolor sit amet, con sectetuer adipiscing elit.
              Mauris fermentum dictum magna. Sed laoreet aliquam leo.
              Ut tellus dolor, elit. Aenean auctor wisi et urna.
              Aliquam erat volutpat. Duis ac turpis.</p>
              <p> Lorem ipsum dolor sit amet, con sectetuer adipiscing elit.
              Mauris fermentum dictum magna. Sed laoreet aliquam leo.
              Ut tellus dolor, elit. Aenean auctor wisi et urna.
              Aliquam erat volutpat. Duis ac turpis.</p>
              <p> Lorem ipsum dolor sit amet, con sectetuer adipiscing elit.
              Mauris fermentum dictum magna. Sed laoreet aliquam leo.
              Ut tellus dolor, elit. Aenean auctor wisi et urna.
              Aliquam erat volutpat. Duis ac turpis.</p>
            </div>
          </div>
          <div class="span3">
            <div class="thumbnail">
              <img src="/assets/video-5.png" alt="Coach">
            </div>
          </div>
        </div>
        <hr >
        <div class="row-fluid">
          <div class="span9">
            <div class="caption">
              <h3>Coaches Feedback</h3>
              <p> Lorem ipsum dolor sit amet, con sectetuer adipiscing elit.
              Mauris fermentum dictum magna. Sed laoreet aliquam leo.
              Ut tellus dolor, elit. Aenean auctor wisi et urna.
              Aliquam erat volutpat. Duis ac turpis.</p>
              <p> Lorem ipsum dolor sit amet, con sectetuer adipiscing elit.
              Mauris fermentum dictum magna. Sed laoreet aliquam leo.
              Ut tellus dolor, elit. Aenean auctor wisi et urna.
              Aliquam erat volutpat. Duis ac turpis.</p>
              <p> Lorem ipsum dolor sit amet, con sectetuer adipiscing elit.
              Mauris fermentum dictum magna. Sed laoreet aliquam leo.
              Ut tellus dolor, elit. Aenean auctor wisi et urna.
              Aliquam erat volutpat. Duis ac turpis.</p>
            </div>
          </div>
          <div class="span3">
            <div class="thumbnail">
              <img src="/assets/video-6.png" alt="Coach">
            </div>
          </div>
        </div>
        <hr >
        <div class="row-fluid">
          <div class="span9">
            <div class="caption">
              <h3>Coaches Feedback</h3>
              <p> Lorem ipsum dolor sit amet, con sectetuer adipiscing elit.
              Mauris fermentum dictum magna. Sed laoreet aliquam leo.
              Ut tellus dolor, elit. Aenean auctor wisi et urna.
              Aliquam erat volutpat. Duis ac turpis.</p>
              <p> Lorem ipsum dolor sit amet, con sectetuer adipiscing elit.
              Mauris fermentum dictum magna. Sed laoreet aliquam leo.
              Ut tellus dolor, elit. Aenean auctor wisi et urna.
              Aliquam erat volutpat. Duis ac turpis.</p>
              <p> Lorem ipsum dolor sit amet, con sectetuer adipiscing elit.
              Mauris fermentum dictum magna. Sed laoreet aliquam leo.
              Ut tellus dolor, elit. Aenean auctor wisi et urna.
              Aliquam erat volutpat. Duis ac turpis.</p>
            </div>
          </div>
          <div class="span3">
            <div class="thumbnail">
              <img src="/assets/video-7.png" alt="Coach">
            </div>
          </div>
        </div>
        <hr >
        <div class="row-fluid">
          <div class="span9">
            <div class="caption">
              <h3>Coaches Feedback</h3>
              <p> Lorem ipsum dolor sit amet, con sectetuer adipiscing elit.
              Mauris fermentum dictum magna. Sed laoreet aliquam leo.
              Ut tellus dolor, elit. Aenean auctor wisi et urna.
              Aliquam erat volutpat. Duis ac turpis.</p>
              <p> Lorem ipsum dolor sit amet, con sectetuer adipiscing elit.
              Mauris fermentum dictum magna. Sed laoreet aliquam leo.
              Ut tellus dolor, elit. Aenean auctor wisi et urna.
              Aliquam erat volutpat. Duis ac turpis.</p>
              <p> Lorem ipsum dolor sit amet, con sectetuer adipiscing elit.
              Mauris fermentum dictum magna. Sed laoreet aliquam leo.
              Ut tellus dolor, elit. Aenean auctor wisi et urna.
              Aliquam erat volutpat. Duis ac turpis.</p>
            </div>
          </div>
          <div class="span3">
            <div class="thumbnail">
              <img src="/assets/video-8.png" alt="Coach">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination pagination-right">
      <ul>
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><span>...</span></li>
        <li><a href="#">10</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
</div>
