<h1>Videos#index</h1>
<% @videos.each do |video| %>
	<video width="320" height="240" controls="controls">
	      <source src="<%= video.file.url %>" />
	 Your browser does not support the video tag.
	</video><br/>
<% end if @videos.present? %>

<%= link_to 'Upload new audio/video', new_athlete_video_path %>