<% content_for :title, "Coach home page" %>
<% content_for :body_id, "page-name" %>

<% content_for :header do %>
  <%= link_to '<strong class="icon-undo-2"></strong>Sign Out'.html_safe, destroy_user_session_path, class: "btn-danger btn fr" %>
<% end %>

<div class="row-fluid">
  <div class="span12">
    <h2 class="text-center text-info">Home page of <%= current_user.name rescue "" %></h2>
  </div>
</div>
<hr>
<div class="row-fluid">
  <div class="span3">
    <p></p>
    <p><a href="#" class="btn btn-success input-block-level "><strong class="icon-user"></strong>Profie</a></p>
    <p><a href="#" class="btn btn-success input-block-level"><strong class="icon-list"></strong>Financials</a></p>
  </div>
  <div class="span9">
    <div class="row-fluid">
      <div class="span9">
        <div class="caption">
          <div class="row-fluid">
            <div class="span8">
              <h3>Job sent by Peter Cultz</h3>
            </div>
            <div class="span4">
              <p><a href="#" class="btn "><strong class="icon-pushpin"></strong>Feedback</a></p>
            </div>
          </div>
          <p> Lorem ipsum dolor sit amet, con sectetuer adipiscing elit.
          Mauris fermentum dictum magna. Sed laoreet aliquam leo.
          Ut tellus dolor, elit. Aenean auctor wisi et urna.
          Aliquam erat volutpat. Duis ac turpis.</p>
        </div>
      </div>
      <div class="span3">
        <div class="thumbnail">
          <img src="images/video-1.png" alt="Coach">
        </div>
      </div>
    </div>
    <hr >
    <div class="row-fluid">
      <div class="span9">
        <div class="caption">
          <div class="row-fluid">
            <div class="span8">
              <h3>Job sent by Peter Cultz</h3>
            </div>
            <div class="span4">
              <p><a href="#" class="btn "><strong class="icon-pushpin"></strong>Feedback</a></p>
            </div>
          </div>
          <p> Lorem ipsum dolor sit amet, con sectetuer adipiscing elit.
          Mauris fermentum dictum magna. Sed laoreet aliquam leo.
          Ut tellus dolor, elit. Aenean auctor wisi et urna.
          Aliquam erat volutpat. Duis ac turpis.</p>
        </div>
      </div>
      <div class="span3">
        <div class="thumbnail">
          <img src="images/video-2.png" alt="Coach">
        </div>
      </div>
    </div>
    <hr >
    <div class="row-fluid">
      <div class="span9">
        <div class="caption">
          <div class="row-fluid">
            <div class="span8">
              <h3>Job sent by Peter Cultz</h3>
            </div>
            <div class="span4">
              <p><a href="#" class="btn "><strong class="icon-pushpin"></strong>Feedback</a></p>
            </div>
          </div>
          <p> Lorem ipsum dolor sit amet, con sectetuer adipiscing elit.
          Mauris fermentum dictum magna. Sed laoreet aliquam leo.
          Ut tellus dolor, elit. Aenean auctor wisi et urna.
          Aliquam erat volutpat. Duis ac turpis.</p>
        </div>
      </div>
      <div class="span3">
        <div class="thumbnail">
          <img src="images/video-5.png" alt="Coach">
        </div>
      </div>
    </div>
    <hr >
    <div class="row-fluid">
      <div class="span9">
        <div class="caption">
          <div class="row-fluid">
            <div class="span8">
              <h3>Job sent by Peter Cultz</h3>
            </div>
            <div class="span4">
              <p><a href="#" class="btn "><strong class="icon-pushpin"></strong>Feedback</a></p>
            </div>
          </div>
          <p> Lorem ipsum dolor sit amet, con sectetuer adipiscing elit.
          Mauris fermentum dictum magna. Sed laoreet aliquam leo.
          Ut tellus dolor, elit. Aenean auctor wisi et urna.
          Aliquam erat volutpat. Duis ac turpis.</p>
        </div>
      </div>
      <div class="span3">
        <div class="thumbnail">
          <img src="images/video-3.png" alt="Coach">
        </div>
      </div>
    </div>
    <hr >
    <div class="row-fluid">
      <div class="span9">
        <div class="caption">
          <div class="row-fluid">
            <div class="span8">
              <h3>Job sent by Peter Cultz</h3>
            </div>
            <div class="span4">
              <p><a href="#" class="btn "><strong class="icon-pushpin"></strong>Feedback</a></p>
            </div>
          </div>
          <p> Lorem ipsum dolor sit amet, con sectetuer adipiscing elit.
          Mauris fermentum dictum magna. Sed laoreet aliquam leo.
          Ut tellus dolor, elit. Aenean auctor wisi et urna.
          Aliquam erat volutpat. Duis ac turpis.</p>
        </div>
      </div>
      <div class="span3">
        <div class="thumbnail">
          <img src="images/video-6.png" alt="Coach">
        </div>
      </div>
    </div>
  </div>
  <div class="pagination pagination-right">
    <ul>
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><span>...</span></li>
      <li><a href="#">10</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>
</div>
