<div id="footer-wrap">
  <div class="container">
        <footer id="footer" class="clearfix">
          <p class="text-center">&copy; All Rules Reserved. <%= link_to "Privacy Policy", "javascript:void(0)" %></p>
            <p>&nbsp;</p>
        </footer>
    </div>
</div>
