<div id="footer-wrap">
  <div class="container">
        <footer id="footer" class="clearfix">
          <p  class="text-center">&copy; All Rules Reserved. <a href="#">Privacy Policy</a> </p>
            <p>&nbsp;</p>
        </footer>
    </div>
</div>
