<div id="nav-wrap">
  <div class="container">
    <div class="page-header">
      <div class="header-right pull-right">
        <p>Welcome Ted Williams<p>
        <a href="#" class="btn btn-success pull-right"><strong class="icon-pencil-2"></strong> Sign out</a>
      </div>
      <h1><%= link_to image_tag('logo.png', alt: ""), root_path %> 5dollarcoaching</h1>
    </div>
  </div>
</div>
